@font-face {
    font-family: nunito;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/nunito/nunito_light.ttf') format('truetype');
}

@font-face {
    font-family: nunito;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/nunito/nunito_bold.ttf') format('truetype');
}

@font-face {
    font-family: nunito;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/nunito/nunito_regular.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 14px;
}

body {
    scrollbar-color: #333333 #151a21;
}

/* 4px scroll thumb. 10px margin from right margin */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #333333;
    border: solid 4px transparent;
    border-radius: 14px;
}

::-webkit-scrollbar-button {
    display: none;
}

body {
    font-family: nunito, sans-serif;
    color: #FFFFFF;
    background: #111419;
}

html, body { height: 100%; }

.bg-dark-pattern {
    background: #2d3337;
}

.sidebar {
    padding: 10px;
    background-size: contain;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 300px;
    transition: width .25s ease-in-out 0s;
    left: 0;
    position: fixed;
    background: #0e1115;
}

.main-container {
    margin-left: 255px;
    margin-right: 0;
    margin-top: 48px;
}

.visitor-container {
  margin-left: 65px !important;
}

.messages-section {
    margin-left: 255px;
}

.theater-page {
    margin-right: 300px;
}

.user img.user-avatar {
    width: 30px;
    background: #333333;
    border-radius: 50%;
}

textarea.message-input {
    width: 100%;
    background: #2d3337;
    border: 0;
    resize: none;
    outline: none;
    color: #ffffff;
    padding: 5px;
    height: 100px;
}

.full-width {
    width: 100%;
}

.chats {
    height: 100%;
}

.chat-message {
    background: #2d3337;
    border-radius: 4px;
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.chat-message img.chat-avatar {
    width: 30px;
    float: left;
}

p.chat-text-message {
    padding: 0;
    margin: 5px;
    float: left;
    word-break: break-word
}

span.chat-user-name {
    padding: 5px;
    display: -webkit-box;
}

img.chat-avatar {
    border-radius: 50%;
    background: #333;
    margin: 2px;
}

.chat-user {
    float: left;
    background: #007bff;
    border-radius: 4px;
    margin-right: 5px;
}

p.log.chat-text-message {
    margin: 0;
}

.chat-footer {
    position: fixed;
    bottom: 10px;
    padding-right: 9px;
}

button:active, button:focus {
    outline: none !important;
}

.bg-dark {
    background-color: #151a21 !important
}

h3.page-title {
    margin: 30px 30px 30px 0;
}

.about-me {
    padding: 50px;
}

.container-fluid,
.row-fluid { height: inherit; }

.clear {
    clear: both;
}

.page-content p {
    margin: 0;
    color: #FFFFFF;
}

img.avatar {
    width: 200px;
    border-radius: 50%;
    display: block;
    border: 5px solid #eee;
    margin: 40px auto;
}

.user-card {
    background: #0e1115;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.user-card:hover {
    background: #007bff;
}

.avatar-card {
    width: 35px;
    border-radius: 50%;
    margin: 5px;
}

.user-name-list {
    display: block;
    float: left;
    padding: 10px;
}

ul.social-networks {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: fit-content;
}

ul.social-networks li {
    float: left;
    margin: 15px;
}

ul.social-networks li a {
    color: #fff;
    font-size: 20px;
}

.chat-title-border-bottom {
    border-bottom: 2px solid #e9ecef14;
    padding: 10px;
    margin-bottom: 10px;
}

.title-border-bottom {
    border-bottom: 2px solid #e9ecef14;
    padding: 10px 0;
    margin-bottom: 10px;
    /*display: flex;*/
}

.-dark .btn {
    background: #0e1115 !important;
    color: #fff;
    border: none;
}

.bootstrap-select .btn:focus {
    outline: none !important;
}

.-dark .dropdown-menu.show {
    background: #0e1115 !important;
    color: #fff;
    padding: 0;
    border: none;
    margin-top: 5px;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
    color: #fff !important;
}

.dropdown-item {
    color: #FFFFFF;
}

.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.rasp-board > .desc {
    float: right;
    margin-right: 15px;
}

.rasp-board {
    background: #eee;
    display: inline-block;
    border-radius: 4px;
    padding: 10px;
    cursor: default;
}

.rasp-board-dark {
    background: #0e1115 !important;
}

.pins.pin {
    color: #333;
}

.rasp-board-dark > .desc {
    color: #fff;
}

.pins.loading {
    opacity: 0.3 !important;
}

.pin {
    width: 30px;
    background: #fff;
    height: 30px;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    line-height: 1.5;
    float: left;
    margin: 5px;
    font-weight: 500;
    border: 4px solid #333;
    cursor: pointer;
    color: #333 !important;
}

.pin_enable {
    border-color: #28a745;
}

.pin_disable {
    border-color: #6b6767;
}

.pin_selected {
    border-color: #007bff;
}

.underline {
    text-decoration: underline;
}

.gpio_board_alert_message {
    text-align: center;
    display: block;
    z-index: 9;
    margin-bottom: 10px;
    color: #F44336;
}

.pin_used {
    border-color: #FF5722 !important;
}

.pin_red, .pin_voltage {
    border: 4px solid red;
}

.pin_disable {
    opacity: 0.3;
}

.pin_ground {
    border-color: #fff;
    background: #000;
    color: #fff;
}

.pin_uar40 {
    border-color: #9d2eff;
    background: #fff;
    color: #000;
}

.form-group.has-error {
    background: rgba(255, 0, 24, 0.08);
    padding: 20px;
    border-radius: 6px;
}

img.small-icon {
    width: 18px;
    float: left;
    margin-right: 5px;
}

.opacity-1 {
    opacity: 1;
}

img.small-avatar {
    width: 18px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
}

input.search {
    color: #FFFFFF !important;
}

div.dark-selector {
    background: #151a21 !important;
    border-color: #33333340 !important;
    color: #FFFFFF !important;
}

.menu.visible {
    border: none !important;
}

div.dark-selector > .menu>.item.selected {
    background: #151a21 !important
}

div.dark-selector > .menu>.item {
    background: #151a21 !important;
    color: #FFFFFF !important;
    border-color: #33333340 !important;
}

.form-dark > .form-group input {
    background: #151a21 !important;
}

.form-dark > .form-group {
    padding: 20px;
    background: #0e1115;
    border-radius: 5px;
    margin-bottom: 10px !important;
}

.selected-subtitle > small {
    font-size: 13px;
}

.choosed-movie > .form-control {
    background: #007bff !important;
}

.file-upload-preview button {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0 5px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-dark > .form-group .form-control {
    background: #0e1115;
    color: #fff;
    border: none;
}

.table-dark {
    background: #0e1115;
}

img.left-side-avatar {
    border-radius: 50%;
    height: 30px;
    margin-right: 5px;
}

.table-dark > thead > tr > th:first-child {
    text-align: center;
}

tr.new-log > td:first-child {
    background: #dc3545;
}

.form-control.dark-select {
    background: #151a21 !important;
}


.toast {
    cursor: pointer;
    box-shadow: none;
}

.toast:hover {
    background: #007bff;
}

.toast-dark {
    background: #202020 !important;
}

.footer img.avatar {
    border: 0;
    width: 45px;
    height: 45px;
    margin: 10px auto;
    background: #FFF;
    border-radius: 15px;
}

.toast-dark > .toast-header {
    background: transparent;
    color: #FFFFFF;
}

.modal-dark .modal-body {
    margin-top: 10px;
    text-align: center;
}

.modal-dark .modal-footer {
    border: none;
    display: block;
    margin: 0 auto;
}

.modal-dark .modal-content {
    background-color: #0e1115 !important;
}

.logged-in-as {
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #1e1e1f;
}

.border-left-title {
    border-left: 2px solid #333333;
    padding-left: 10px;
    margin-left: 10px;
    align-items: center;
    /*display: flex;*/
}

.sidemenu-state.state-dot {
    bottom: 10px;
    right: 10px;
}

.idle .state-dot,
.idle .state-dot-circle{
    background-color: #ffc107 !important
}

.online .state-dot,
.online .state-dot-circle{
    background-color: #28a745 !important
}

.offline .state-dot {
    background-color: transparent !important;
    border-color: transparent !important;
}

.offline .activity {
    display: none;
}

.offline .state-dot-circle {
    background-color: #6c757d !important;
}

.busy .state-dot,
.busy .state-dot-circle {
    background-color: #dc3545 !important
}

.state-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 3px solid #0e1115;
    position: absolute;
    bottom: -3px;
    right: -3px;
}

.state-dot-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.v-loading {
    margin: 0 auto;
    display: table;
}

.clickable {
    cursor: pointer;
}

/* Login styles */
div#serverError > div.alert {
    margin-bottom: 0;
    margin-top: 20px;
}

.login-bottom-action-buttons > .buttons > button.loginBTN {
    padding: 3px 20px;
}

.login-bottom-action-buttons > .buttons > button {
    margin: 5px;
}

.login-bottom-action-buttons > .buttons {
    text-align: center;
    margin: 15px 0;
}

.brand-name {
    font-weight: bolder;
    font-size: 20px;
}

.login_container {
    width: 350px;
    background: #FFFFFF;
    margin: 50px auto;
    padding: 20px 20px 5px;
    color: #333333;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
}

/*.login_container > .logo {*/
    /*text-align: center;*/
    /*display: grid;*/
/*}*/

.img-logo {
    margin: 0 auto;
}

.actions {
    text-align: center;
    margin: 10px 0 20px 0;
    display: block;
}

.actions > a {
    color: #333333;
    border-bottom: 2px solid #333333;
    margin: 3px;
    opacity: 0.5;
    text-decoration: none;
}

.actions > a.router-link-active,
.actions > a:hover {
    opacity: 1;
    text-decoration: none;
    color: #306cff;
    border-color: #306cff;
}

.login-form > .form-group {
    margin: 10px 0;
}

.auth .form-group > label {
    display: none;
}

.alert.alert-darker {
    background: #2f3030;
    color: #fff;
    padding: 10px 15px;
}

.btn-new-theater {
    margin-left: 10px;
    padding: 2px 10px;
    font-size: 14px;
}

.btn-premium-upgrade {
    margin-top: 10px;
    padding: 2px 10px;
    font-size: 14px;
}

span.unread-badge-menu {
    background: red;
    border-radius: 50%;
    font-size: 11px;
    width: 17px;
    height: 17px;
    text-align: center;
    padding: 2px;
    position: absolute;
    right: 11px;
    margin-top: 10px;
    font-weight: bold;
}

span.unread-badge-friendlist {
    background: red;
    border-radius: 50%;
    font-size: 11px;
    width: 17px;
    height: 17px;
    text-align: center;
    padding: 2px;
    font-weight: bold;
    position: absolute;
    color: #ffffff;
    right: 20px;
}

.refresh-btn {
    cursor: pointer;
}

.movie-list {
    margin: 0;
}

li.context-menu-item.remove-red-btn {
    background: #f44336;
}

.remove-red-btn:hover {
    background: #a2261d !important;
}

.vue-loading-button {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    font-size: 17px !important;
    padding: 8px;
}

.hidden {
    display: none;
}

/*.logo {*/
    /*margin-bottom: 5px;*/
/*}*/

.verified-badge {
    background: #3f51b5;
    border-radius: 50%;
    padding: 3px;
    font-size: 12px;
}

img.theater-avatar.online {
    border: 3px solid #37a745;
}

.saving-container {
    position: fixed;
    margin: 30px;
    right: 295px;
    z-index: 9;
    bottom: 0;
}

.btn-theater-action {
    background: #3f51b5;
    border: none;
    color: #FFFFFF;
    padding: 5px 8px;
    font-size: 15px !important;
    border-radius: 4px;
    text-decoration: none;
}

.btn-theater-action:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.height-full {
    height: 100vh;
}

.circle {
    border-radius: 50%;
}

.sidebar-title {
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #1f2326;
  padding: 10px 15px;
  font-size: 12px;
  color: #b3b3b3;
  text-align: left;
  font-weight: bold;
  width: 100%;
  display: inline-block;
}
